@import "tailwindcss";

:root {
  --mp-bg: #141618;
  --mp-surface: #1A1C1F;
  --mp-border: #33383D;
  --mp-accent: #E21818;
  --mp-text: #9B9C9E;
  --mp-muted: #5C5D5E;
  --mp-light: #FAFAFA;
  --mp-heading: #FFFFFF;
}

body {
  background-color: var(--mp-bg);
  color: var(--mp-text);
}
